/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 Nov 2021, 10:25:05 AM
    Author     : user-pc
*/

name{
    color: green;
    font-size: 26px;
}
price{
    color: red;
    font-size: 20px;
        
}
description{
    color: pink;
    font-size: 22px;
}
portionsize{
    color: red;
    font-size: 30px;
}